//Content Slyles

.content{
    padding: $top $button;

    h2{
        @include titulos;
    }

    .principalText{
        @include principalText;
        padding-bottom: 0;
        
    }

    .block{
        width: 302px;
        display: inline-block;
        padding-right: 5px;
        img{
            padding-bottom: 68px;
            padding-right: 20px;
        }
        .right{
            @include box;
        }
        
        &::nth-child(3){
            padding-bottom: 90px;
        }
    }


    .tablet{
        display: none;
    }
}