@media (max-width: 1400px){

    //Header styles
    
    .header{
        .block{
            display: none;
        }
        .first-block{
            display: none;
        }
        .second-block{
            display: none;
        }
    }
}